.seguro-bg{
  background: var(--bg-2);
  box-shadow: inset 0 120px var(--bg-3),inset 0 -120px var(--bg-1);
}

.seguro{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.seguro-imagem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seguro-conteudo{
  padding-top: 180px;
  padding-bottom: 180px;
}

.seguro-conteudo h2{
  margin-bottom: 32px;
}
.seguro-conteudo p{
  margin-bottom: 20px;
}

@media(max-width: 800px){
  .seguro-bg{
    box-shadow: inset 0 -60px var(--bg-1);
  }
  .seguro{
    grid-template-columns: 1fr;
  }
  .seguro-imagem{
    height: 200px;
  }
  .seguro-conteudo{
    grid-row: 1;
    padding-top: 40px;
    padding-bottom: 0;
  }
}